@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body{
	font: 16px 'Open Sans',sans-serif;
	font-size-adjust: 0.5;
	margin:0;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
p{
	padding: 0;
	margin:0;
	list-style: none;
	font-weight: 300;
}
a{
	text-decoration: none;
	color: #222;
}
/*le header*/
header{
	width: 100%;
	position: fixed;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	border: solid 1px #ccc;
	background: #fff;
}

/*les menus*/
nav .mail,nav .menu{
	float: left;
	

}
nav .mail{
	padding:14px;
}
nav .menu{
	float: right;
}
.mail ul li, .menu ul li{
	display: inline-block;
	width: 200px;

}
.mail ul{
	font-size: 0;
}
.mail ul li>a, .menu ul li>a{
	display:block;
	padding:20px;
	
}


.mail li>img{
	display: block;
	max-width: 100%;
}
.mail ul li{
	width: calc(100% / 2 - 4px);
	vertical-align: middle;

}
.menu ul li{
	
	text-align: center;
	text-transform: uppercase;
}
.menu ul li a:hover{
	color: #dd5347;
}

/*les lien du menu*/
.menu ul li:last-child{
	background: #dd5347;

}
.menu ul li:last-child a{
	color: #fff;
}
.mail ul li:last-child a{
	/*font-weight: bolder;*/
	padding:0;
	font-size: 1.5rem;
	color: #999;
	font-weight: 400;
}
main,footer{
	padding-top: 70px;
	height: 100vh;
	background: url(../image/home-hero.jpg)no-repeat scroll center center  / cover;
}

footer{
	background: #fafafa;
	margin-top:1px;
}
section{
	width: 700px;
	padding:120px 0 0 120px;
	line-height: 62px;
	
}
section h1{
	color: #fff;
	font-size: 52px;
	
}
section a{
	display: block;
	width: 200px;
	text-align: center;
	color: #fafafa;
	background: #dd5347;
	line-height: 60px;
	text-transform: uppercase;
	margin-top: 20px;

}
footer{
	
	background: #fff;
}
footer h2,footer p{
	width: 400px;
	margin: 50px auto 10px;
	font-size: 35px;
	text-align: center;
	font-weight: 100;
	color: #333;
}
footer p{
	font-weight: normal;
	font-size: 1rem;
}
.btn-info{
	position: fixed;
	bottom:10px;
	right: 20px;
	display: block;
	width: 60px;
	height:60px;
	background: #dd5347;
	border-radius: 50%;
	color: #fff;
	line-height: 75px;
	text-align: center;
	box-shadow: 0 10px 10px #333;
}
